/* Link this file in pages that utilize comments */

.comment {
	margin-bottom: 10px;
}

.leave_comment_button {
	text-align: center;
	margin: 40px 0 30px;
	text-decoration: underline;
	cursor: pointer; 	
}

.comment .user_icon {
	padding-top: 10px;
}

.comment .comment_header .deleteComment {
	background: url("/static/images/XUnclick.png");
}

.comment .comment_header {
	position: relative;
	top: 10px;
	left: 125px;
	font-size: 0.85em;
}

.comment .comment_footer {
	margin-left: 125px;
}

.comment .report_comment {
	color: #FE4422;
}

.comment .reply_button {
	text-decoration: underline;
	cursor: pointer;
	float: right;
	margin-right: 15px;
}

.comment .date_posted {
	font-size: smaller;
}

#reply_form_template {
	display: none;
}

.comment form {
	margin-bottom: 5px;
}

.comment .reply {
	display: none;
}

.comment textarea {
	width: 700px;
	margin-bottom: 5px;
}

.comment .comment_bubble {
	position: relative;
	min-height: 60px;
	margin: 13px 10px 0 110px;
	padding: 10px 15px 10px 15px;
	background-color: #fff;
	border: 1px solid #BBBBBB;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 1px 2px 2px #CCC;
	-moz-box-shadow: 1px 2px 2px #CCC;
	box-shadow: 1px 2px 2px #CCC;
}

/* Border of Pointer */
.comment .comment_bubble:before {
	content: ' ';
	position: absolute;
	width: 0;
	height:  0;
	left: -50px;
	top: 8px;
	border: 25px solid;
	border-color: transparent #CCCCCC transparent transparent;
}
/* White Insides of Pointer */
.comment .comment_bubble:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -46px;
	top: 10px;
	border: 23px solid;
	border-color: transparent #fff transparent transparent;
}

