body
{
	background-color: #bea489;
	background-image: url(../images/background.png);
	background-repeat: repeat;
	color: #513727;
	font-size: 16px;
	font-family: Ubuntu, Arial, sans-serif;
}
h6 
{
	margin-bottom: 1px;
	font-size: 10px;
}
a
{
	color: #556B2F;
	text-decoration: underline;
	cursor: pointer;
}
a:visited {color: #556B2F;}
a:hover {color: #228B22;}
a:active {color: #00FF00;}
a img{border: 0px;}

#header 
{
	background-color: #ffffff;
	padding: 10px;
	border-bottom: 1px solid #000000;
	height: 50px;

	/* Transparent Gradient */
	/*
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.87) 0%,rgba(255,255,255,1) 62%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0.87) 0%,rgba(255,255,255,1) 62%,rgba(255,255,255,0) 100%);
	background: linear-gradient(top, rgba(255,255,255,0.87) 0%,rgba(255,255,255,1) 62%,rgba(255,255,255,0) 100%);
	*/
}
#header-image {
	position: absolute;
	top: 0px;
	left: 0px;
}
#control-panel
{
	float: right;
	margin-right: 85px;
	overflow: hidden;
}
#set-header
{
	position: absolute;
	top: 0px; right: 5px;
	cursor: pointer;
}
#notice
{
	position: fixed;
	display: none;
	padding: 5px;
	text-align: center;
	background-color: #ffffff;
	top:0px;right:200px;
	width: 150px;
	border-left: 1px solid #556B2F;
	border-bottom: 1px solid #556B2F;
	border-right: 1px solid #556B2F;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
}
#modal 
{
	visibility: hidden;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 1000;
	background-color: #000000;
	background:url(/static/images/modalpixelbackground.png);
}
#modal div {
	width: 300px;
	margin: 2% auto;
	text-align: center;
}
#notice #close:hover {background-color:#F5F5DC; }

#navigation
{
	background-color: #637E63;
	text-align: left;
	color: #ffffff;
}
#navigation a 
{
	color: inherit;
	text-decoration: none;
}
#navigation ul 
{
	display: inline;
}
#navigation li 
{
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	padding-bottom: 2px;
	border-left: solid 2px #BEA489;
}
#navigation .final {border-right: solid 2px #BEA489;}
#navigation li:hover {background-color: #70CD71;}
#navigation img {vertical-align: bottom;}

#content {
	background-color: #f1e3d1;
	margin: 0px 15px 4px 15px;
	padding: 10px;
	height: 1%;
	overflow: hidden;	
	border-bottom: 1px solid #000000
}

#footer {
	margin: 0px 15px 10px 15px;
	font-size: 12px;
}
#footer a {
	color: inherit;
}
.container {
	background-color: #ffffff;
	margin: 5px;
	padding: 10px;

	border-bottom: 1px solid #000000;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
}
.roundBox {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.userIcon {
	width: 75px;
	height: 75px;
	border-style: none;
}
.tinyIcon {
	width: 50px;
	height: 50px;
	border-style: none;
}
.button {color: #556B2f;}
.textInput {border: 1px #513727 solid;}
.close
{
	background-image: url(/static/images/XUnclick.png);
	width: 16px;
	height: 16px;
	float: right;
	cursor: pointer;
}
.close:hover { 
	background-image: url(/static/images/XHover.png);
}
.close:hover {background-color:#F5F5DC; }
