body
{
	background-color: #bea489;
	background-image: url("../images/userpage/defaultbg.png");
	background-repeat: repeat;
	color: #513727;
	font-size: 16px;
	font-family: Ubuntu, Arial, sans-serif;
}
h6 
{
	margin-bottom: 1px;
	margin-top: 7px;
	font-size: 10px;
}
.marginless
{
	margin-top: 1px;
	margin-bottom: 1px;
}

a
{
	color: #556B2F;
	text-decoration: underline;
	cursor: pointer;
}
a:visited {color: #556B2F;}
a:hover {color: #228B22;}
a:active {color: #00FF00;}
a img{border: 0px;}

#header 
{
	position: absolute;
	background-color: #ffffff;
	top: 0px; left:0px; right:0px;
	z-index: 500;
	padding: 10px;
	height: 50px;
	border-bottom: 1px solid #7f7f7f;
}
#header-image {
	position: absolute;
	top: 0px;
	left: 0px;
}
#control-panel
{
	float: right;
	margin-right: 85px;
	overflow: hidden;
}
#options-tab div
{
	padding: 2px;
	background-color: #ffffff;
	border-bottom: 1px solid black;
	z-index: 950;
}
#options-tab div
{
	position: absolute;
	display: none;
}
#options-tab:hover div
{
	display: block;
}
#set-header
{
	position: absolute;
	top: 0px; right: 5px;
	cursor: pointer;
}
#notice
{
	position: fixed;
	display: none;
	padding: 5px;
	text-align: center;
	background-color: #ffffff;
	top:0px;right:200px;
	width: 150px;
	border-left: 1px solid #556B2F;
	border-bottom: 1px solid #556B2F;
	border-right: 1px solid #556B2F;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
	z-index: 1001;
}
#modal 
{
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 1000;
	background-color: #000000;
	background:url(/static/images/modalpixelbackground.png);
}
#modal .inner {
	display: none;
	text-align: center;
	width: 350px;
	margin: 2% auto;	
}
#modal .mascot {
	position: relative;
	width: 0px;
	height: 0px;
	margin: 2% auto;
}
#navigation
{
	position: absolute;
	top: 71px; left: 0px;
	background-color: #637E63;
	text-align: left;
	width: 100%;
	color: #ffffff;
	-moz-box-shadow: 0px 2px 5px #777777, inset -1px -1px #495c49;
	-webkit-box-shadow: 0px 2px 5px #777777, inset -1px -1px #495c49;
	box-shadow: 0px 2px 5px #777777, inset -1px -1px #495c49,inset 1px 1px #92a992;
}
#navigation a 
{
	color: inherit;
	text-decoration: none;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}
#navigation ul 
{
	display: inline;
	padding-left: 0px;
	list-style-type: none;
}
#navigation li 
{
	display: inline;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-moz-box-shadow: inset 1px 1px #92a992, inset -1px -1px #495c49;
	-webkit-box-shadow: inset 1px 1px #92a992, inset -1px -1px #495c49;
	box-shadow: inset 1px 1px #92a992, inset -1px -1px #495c49;
}
#navigation li:hover 
{
	background-color: #95ac95;
	-moz-box-shadow: inset 1px 1px #c8d5c8, inset -1px -1px #637e63;
	-webkit-box-shadow: inset 1px 1px #c8d5c8, inset -1px -1px #637e63;
	box-shadow: inset 1px 1px #c8d5c8, inset -1px -1px #637e63;
}
#navigation img {vertical-align: bottom;}

#content {
	background-color: #f1e3d1;
	margin: 77px 15px 4px 15px;
	padding: 10px;
	padding-top: 25px;
	height: 1%;
	overflow: hidden;	
	border-bottom: 1px solid #000000;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
}

#footer {
	margin: 0px 15px 10px 15px;
	font-size: 12px;
}
#footer a {
	color: inherit;
}
.container {
	background-color: #ffffff;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;

	border-bottom: 1px solid;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
}
.roundBox {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.userIcon {
	width: 75px;
	height: 75px;
	border-style: none;
}
.tinyIcon {
	width: 50px;
	height: 50px;
	border-style: none;
}
.button {color: #556B2f;}
.textInput 
{
	border: 1px #513727 solid;
	width: 160px;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.textInput:focus {width: 200px;}
.textInputNoRecoil
{
	border: 1px #513727 solid;
	width: 160px;
}
.textArea
{
	height: 60px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.textArea:focus
{
	height: 200px;
}
.close
{
	float: right;
	background-image: url(/static/images/XUnclick.png);
	background-repeat: none;
	background-color: #F5F5DC;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.close:hover { 
	background-image: url(/static/images/XHover.png);
}
