#tab-content {
	border: 1px solid;
	font-size: 14px;
	clear: both;
	padding: 15px;
}
#tabs li {
	float: left;
	display: inline;
	border: 1px solid #000000;
	border-bottom-width: 0;
	margin: -0.5em 0.5em 0 0;
	padding: 2px;
	cursor: pointer;
	background-color: #93AE83;
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-topright: 4px;
        -webkit-border-radius: 4px 4px 0px 0px;
        border-radius: 4px 4px 0px 0px;
}
#tabs li a
{
	text-decoration: none;
}
#tabs li:hover {
	background-color: #AACC99;
}
#tabs .tab-selected {
	position: relative;
	color: inherit;
	top: 1px;
	background: #FFFFFF;
}
#tabs .tab-selected:hover {
	background-color: #FFFFFF;
}

