body
{
	background-image: url("/static/images/userpage/darkbluebg.png");
}

#navigation
{
	background-color: #00001A;
	color: #FFFFFF;
}

#navigation li
{
	border-left: solid 2px #1620A0;
}

#navigation li:hover
{
	background-color: #1620A0;
}

#navigation .final
{
	border-right: solid 2px #1620A0;
}
#footer
{
	color: #FFFFFF;
}
#footer a
{
	color: #FFFFFF;
}

#content
{
	background-color: #020926;
	color: #0D1259;
}