body
{
	background-image: url("/static/images/userpage/redbg.png");
}

#navigation
{
	background-color: #5A0000;
	color: #FFFFFF;
}

#navigation li
{
	border-left: solid 2px #F00000;
}

#navigation li:hover
{
	background-color: #BE0000;
}

#navigation .final
{
	border-right: solid 2px #F00000;
}
#footer
{
	color: #5A0000;
}
#footer a
{
	color: #5A0000;
}

#content
{
	background-color: #FF3939;
	color: #5A0000;
}

