body
{
	background-image: url("/static/images/userpage/brownbg.png");
}

#navigation
{
	background-color: #3E1E02;
	color: #FFFFFF;
       -moz-box-shadow: #57371B, inset -1px -1px #1F0F01, inset 1px 1px #805128;
       -webkit-box-shadow: #57371B, inset -1px -1px #1F0F01, inset 1px 1px #805128;
       box-shadow: 0px 2px 5px #57371B, inset -1px -1px #1F0F01, inset 1px 1px #805128;
}

#navigation li
{
       -moz-box-shadow: inset 1px 1px #805128, inset -1px -1px #1F0F01;
       -webkit-box-shadow: inset 1px 1px #805128, inset -1px -1px #1F0F01;
       box-shadow: inset 1px 1px #805128, inset -1px -1px #1F0F01;
}

#navigation li:hover
{
	background-color: #805128;
       -moz-box-shadow: inset 1px 1px #A36833, inset -1px -1px #55361B;
       -webkit-box-shadow: inset 1px 1px #A36833, inset -1px -1px #55361B;
       box-shadow: inset 1px 1px #A36833, inset -1px -1px #55361B;
}

#navigation ul:last-child
{
        -moz-box-shadow: 1px 0px #805128;
        -webkit-box-shadow: 1px 0px #805128;
        box-shadow: 1px 0px #805128;
}

#footer
{
	color: #3E1E02;
}

#footer a
{
	color: #3E1E02;
}

#content
{
	background-color: #935D2D;
	color: #3E1E02;
}