body
{
	background-image: url("/static/images/userpage/brightgreenbg.png");
}

#navigation
{
	background-color: #187E00;
	color: #FFFFFF;
}

#navigation li
{
	border-left: solid 2px #72FF51;
}

#navigation .final
{
	border-right: solid 2px #72FF51;
}
#footer
{
	color: #187E00;
}
#footer a
{
	color: #187E00;
}

#content
{
	background-color: #B8FFA7;
	color: #187E00;
}

