body
{
	background-image: url("/static/images/userpage/orangebg.png");
}

#navigation
{
	background-color: #BE4D02;
	color: #FFFFFF;
}

#navigation li
{
	border-left: solid 2px #F86402;
}

#navigation li:hover
{
	background-color: #F66402;
}

#navigation .final
{
	border-right: solid 2px #F86402;
}
#footer
{
	color: #793101;
}
#footer a
{
	color: #793101;
}

#content
{
	background-color: #FFAB47;
	color: #BE4D02;
}

