body
{
	background-image: url("/static/images/userpage/pinkbg.png");
}

#navigation
{
	background-color: #FF7575;
	color: #FFFFFF;
       -moz-box-shadow: #813401, inset -1px -1px #FF2D2D, inset 1px 1px #FF9F9F;
       -webkit-box-shadow: #813401, inset -1px -1px #FF2D2D, inset 1px 1px #FF9F9F;
       box-shadow: 0px 2px 5px #813401, inset -1px -1px #FF2D2D, inset 1px 1px #FF9F9F;
}

#navigation li
{
       -moz-box-shadow: inset 1px 1px #FF9F9F, inset -1px -1px #FF2D2D;
       -webkit-box-shadow: inset 1px 1px #FF9F9F, inset -1px -1px #FF2D2D;
       box-shadow: inset 1px 1px #FF9F9F, inset -1px -1px #FF2D2D;
}

#navigation li:hover
{
	background-color: #FF9F9F;
       -moz-box-shadow: inset 1px 1px #FFC7C7, inset -1px -1px #FF7575;
       -webkit-box-shadow: inset 1px 1px #FFC7C7, inset -1px -1px #FF7575;
       box-shadow: inset 1px 1px #FFC7C7, inset -1px -1px #FF7575;
}

#navigation ul:last-child
{
        -moz-box-shadow: 1px 0px #FF9F9F;
        -webkit-box-shadow: 1px 0px #FF9F9F;
        box-shadow: 1px 0px #FF9F9F;
}

#footer
{
	color: #D5554B;
}
#footer a
{
	color: #D5554B;
}

#content
{
	background-color: #FFC0C0;
	color: #FF4040;
}
