body
{
	background-image: url("/static/images/userpage/pinkbg.png");
}

#navigation
{
	background-color: #D5554B;
	color: #FFFFFF;
}

#navigation li
{
	border-left: solid 2px #FF8080;
}

#navigation li:hover
{
	background-color: #F39595;
}

#navigation .final
{
	border-right: solid 2px #FF8080;
}
#footer
{
	color: #D5554B;
}
#footer a
{
	color: #D5554B;
}

#content
{
	background-color: #FFC0C0;
	color: #D5554B;
}
