body
{
	background-image: url("/static/images/userpage/blackbg.png");
}

#navigation
{
	background-color: #000000;
	color: #FFFFFF;

  background: #000; /* Old browsers */
  background: -moz-linear-gradient(top, #171717 0%, #000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#171717), color-stop(100%,#000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #171717 0%,#000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #171717 0%,#000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #171717 0%,#000 100%); /* IE10+ */
  background: linear-gradient(to bottom, #171717 0%,#000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171717', endColorstr='#000',GradientType=0 ); /* IE6-9 */
}

#navigation li:hover
{
background-color: #313131;
}

#control-panel a
{
  color: #CACACA;
}

#header a:hover
{
  color: #CACACA;
}

#control-panel
{
  color: #FFF;
}

#header {
  /* Header Gradient */
  background: #FFF; /* Old browsers */
  background: -moz-linear-gradient(top, #171717 0%, #000 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#171717), color-stop(99%,#000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #171717 0%,#000 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #171717 0%,#000 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #171717 0%,#000 99%); /* IE10+ */
  background: linear-gradient(to bottom, #171717 0%,#000 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171717', endColorstr='#000',GradientType=0 ); /* IE6-9 */
}
#header-image {
  background-image: url('/static/images/headers/blackheader.png');
}

#footer
{
	color: #FFFFFF;
}
#footer a
{
	color: #FFFFFF;
}

#content
{
	background-color: #000000;
	color: #000000;
}
