body
{
	background-image: url("/static/images/userpage/brightpurplebg.png");
}

#navigation
{
	background-color: #661ED2;
	color: #FFFFFF;
}

#navigation li
{
	border-left: solid 2px #C9BAE6;
}

#navigation li:hover
{
	background-color: #B975FF;
}

#navigation .final
{
	border-right: solid 2px #C9BAE6;
}
#footer
{
	color: #661ED2;
}
#footer a
{
	color: #661ED2;
}

#content
{
	background-color: #D6AEFE;
	color: #661ED2;
}

