body
{
	background-image: url("/static/images/userpage/whitebg.png");
}
#navigation
{
	background-color: #DBDBDB;
	color: #FFFFFF;
}
#navigation li
{
	border-left: solid 2px #FFFFFF;
}
#navigation li:hover
{
	background-color: #E8E8E8;
}
#navigation .final
{
	border-right: solid 2px #FFFFFF;
}
#footer
{
	color: #A6A5A9;
}
#footer a
{
	color: #A6A5A9;
}
#content
{
	background-color: #DBDBDB;
	color: #A6A5A9;
}
