body
{
	background-image: url("/static/images/userpage/whitebg.png");
}
#navigation
{
	background-color: #FFFFFF;
	color: #A6A5A9;
       -moz-box-shadow: #777777, inset -1px -1px #808080, inset 1px 1px #FFFFFF;
       -webkit-box-shadow: #777777, inset -1px -1px #808080, inset 1px 1px #FFFFFF;
       box-shadow: 0px 2px 5px #777777, inset -1px -1px #808080, inset 1px 1px #FFFFFF;
}

#navigation li
{
       -moz-box-shadow: inset 1px 1px #FFFFFF, inset -1px -1px #808080;
       -webkit-box-shadow: inset 1px 1px #FFFFFF, inset -1px -1px #808080;
       box-shadow: inset 1px 1px #FFFFFF, inset -1px -1px #808080;
}

#navigation li:hover
{
	background-color: #E8E8E8;
       -moz-box-shadow: inset 1px 1px #FFFFFF, inset -1px -1px #808080;
       -webkit-box-shadow: inset 1px 1px #FFFFFF, inset -1px -1px #808080;
       box-shadow: inset 1px 1px #FFFFFF, inset -1px -1px #808080;
}

#navigation ul:last-child
{
        -moz-box-shadow: 1px 0px #FFFFFF;
        -webkit-box-shadow: 1px 0px #FFFFFF;
        box-shadow: 1px 0px #FFFFFF;
}
#footer
{
	color: #A6A5A9;
}
#footer a
{
	color: #A6A5A9;
}
#content
{
	background-color: #F2F2F2;
	color: #9C9C9C;
}
