{% extends "layout.html" %}
{% block title %} 401 - Unauthorized {% endblock %}
{% block head %}
{% endblock %}
{% block content %}
  <section class="container" style="text-align:center;">
    <h1>500 - Internal Server Error</h1>
    <p>Damnit, you really broke shit this time. Just take a step back from your computer and think about what you've done for a few minutes. But, uh, If you figure it out, give me an email at personettelabs at gmail dot com and I'll try to fix it so that you never have to see this message again. (: </p
  </section>
{% endblock %}
