{% extends "layout.html" %}
{% block title %} About DrawRawr {% endblock %}
{% block head %}
{% endblock %}
{% block content %}
  <section class="container" style="text-align:center;">
    <h1>About Drawrawr</h1>
    <p>Sometime around January 2011, Josh Thomas and Catherine Kern were sitting in their home in Wilmington, NC punching each other in the eyes. 
<br>
After a good while of this, they decided that making an Art site was probably a more productive way to spend their time. Not to mention less damaging to their already damaged eyesight. 
So they put some underpants on, and started making a shoddy homepage. 
Four months later, they had a fairly decent little site together. As well as a lot of interest from users on other online communities.
Sometime in August, 2011, they opened the site for Alpha testing to 25 users. But the remaining interested users on the online communities were upset and kind of scary. So shortly after that, the site was opened for beta with 374 users.
Catherine and Josh hadn't really expected those kind of numbers and the site wasn't written well enough to handle it. So after a very dramatic tantrum over the whole thing, Catherine and Josh decided to just rewrite the whole god damn thing.
It turned out to be for the best though, as the rewrite was very well written, faster and easier to write and edit, looked nicer, and could support way more users and features.
Sometime around May 2012, they were done! It took months of collected hours and hundreds of dollars of their own money to complete, but it was finally done.
They celebrated by eating at the cheapest restaurant they could find.
In the end they had created the fairest, cheapest, easiest, and most lenient and fun artsite around! 
<br>and all of their users became a little less scary.
    </p>

    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png"></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">Drawrawr.com</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://drawrawr.com" property="cc:attributionName" rel="cc:attributionURL">Josh Thomas and Catherine Kern</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.

  </section>
{% endblock %}
