{% extends "layout.html" %}
{% block title %}{{ art["title"] }} by {{ art["author"] }}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
  <section class="container" style="text-align:center;">
    <img src="/art/uploads/{{ art["_id"] }}.{{ art["filetype"] }}" alt=''>
  </section>
  <section class="container" style="text-align:center; margin-left: 20%; margin-right: 20%;">
    <div style="float:left;height:100%;margin-right:5px;">
    <a href='/{{ art["author"] }}'>
      <h3 style="float:right;height: 100%;margin-right:30px;">{{ art["title"] }}</h3>
    </a>
      {{ userIcon(art["author"]) }}
  </div>
  </section>

{% endblock %}
