{% extends "layout.html" %}
{% block title %} Clubs {% endblock %}
{% block head %}
{% endblock %}
{% block content %}
  <section>
  <section style="float:right; width:70%;">
    <section class="container" style="text-align:center;">
      <span style="font-size:100px;"><b class="shadow">Clubs</b></span>
      <br>
      <p style="font-size:16px; border-bottom: dashed 1px #000000;"> Clubs are a fun and simple way to organize discussions, host and support a cause, or just find other users in the community that share your many interests! 
      Showcase your artwork to a specific audience, discuss your fandoms with other fans, or participate in club activities or contests for acheivments and prizes!
      There's tons of clubs created and run by users just like you! 
      <br>
      <br>
      Use the search below to find clubs that might interest you. You can join as many clubs as you want, but you can <b>only create one.</b> 
      So <i>please</i> use the search to make sure the club you want doesn't already exist before you create it! Have fun!
      <br>
      <br>
      </p> 
      <span class="shadow" style="font-size:30px;">Club Search</span><br>
      <span style="font-size:14px;"><input type="text" class="text_input" style="width:500px;">
      <br>
      <br>
      <img src="/static/images/search_button.png">
      <br>
      <br>
    </section>
  </section>
    <section style="float:left; width:30%;">
       <section class="container" style= "text-align:center; font-size:14px;">
         Can't find the club you're looking for? Make your own!
         <br>
         Each account can have <b>one</b> club, so choose well!
         <br>
         <img src="/static/images/createclubbutton.png">
        </section>
      <section class="container" style= "text-align:center; font-size:20px;">
        <b class="shadow">Featured Activity</b>
        <br>
        <img src="/static/images/clubsblah3.png">
        <br>
        <span style="font-size:16px;"><b><u>Summary:</u></b></span>
        <br>
        <span style="font-size: 14px;">The <b>Pokemon Club</b> is having a Gijinka contest!</span>
        <br> <span style=font-size:12px;>Gijinka - A human representation of an animal, object, concept, or phenomena.</span>
        <br>
        <span style="font-size: 14px;">More Information on the Pokemon Club's "Events" tab!</span>
        <br>
        <br>
        <span style="font-size: 14px;"><b>Participants:</b> 32</span>
        <br>
        <span style="font-size: 14px;"><b>Acheivments:</b></span><span style="font-size: 14px; color: #00C000;">YES</span>
        <br>
        <span style="font-size: 14px;"><b>Additional Prizes:</b></span><span style="font-size: 14px; color: #C00000;">NO</span>
      </section>    
    </section>
  </section>
  <div style="clear:both;"></div>
    <section class="container" style= "text-align:center; font-size:30px;">
      <b class="shadow">Top 20</b>
      <br>
      <img src="/static/images/clubsblah.png">
    </section>
   
    <section class="container" style= "text-align:center; font-size:30px;">
      <b class="shadow">Featured</b>
      <br>
      <img src="/static/images/clubsblah2.png"> 
    </section>

    <section class="container" style= "text-align:center; font-size:30px;">
      <b class="shadow">NEW</b>
      <br>
      <img src="/static/images/clubsblah2.png">
    </section>

{% endblock %}
