{% extends "layout.html" %}
{% block title %}Manage Journals{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/jquery-ui-1.8.18.custom.css" media="screen">
<script src="/static/js/lib/jquery-ui-1.8.18.custom.min.js"></script>
<script src="/static/js/manage_journals.js"></script>
<style>
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin-bottom: 5px;
}
</style>
{% endblock %}
{% block content %}
<div class="grid_3">
  <section class="round_box green_container" style="padding: 4px 15px 5px 15px;"><strong>Manage Journals</strong></section>
  <section class="container" style="margin-top: 10px;">
    <ul id="manage_journals">
    {% for j in all_journals %}
      <li><span class="close" style="margin-top:4px;"></span><a href="{{ url_for("edit_journal", journal=j['_id']) }}" data-id="{{ j['_id'] }}">{{ j["title"] }}</a></li>
    {% endfor %}
    </ul>
  </section>
</div>  
<div class="grid_9">
  <section class="round_box green_container" style="padding: 4px 15px 5px 15px;"><strong>Edit Journal</strong></section>
  <section class="container" style="padding: 15px; margin-top: 10px;">
    <form method="POST">
      <b>Title:</b> <br>
      <input type="text" name="journal_title" value="{{ journal['title'] }}" class="text_input"> <br><br>
      <b>Journal:</b> <br>
      <textarea name="journal_content" style="width: 100%;" cols=50 rows=17>{{ journal['content'] }}</textarea> <br><br>
      <b>Mood:</b> <br>
      <input type="text" name="journal_mood" id="moods" value="{{ journal['mood'] }}" class="text_input"><br><br>
      <input type="submit" value="Save Your Edit" class="button">
    </form>
  </section>
</div>
{% endblock %}