{% extends "layout.html" %}
{% block title %}{{ author["username"] }}'s Gallery{% endblock %}
{% block head %}
<script src="/static/js/gallery.js"></script>
<link rel="stylesheet" href="/static/css/gallery.css" media="screen">
<style>
.folders div
{
	text-align: left;
	border: 1px #513727 solid;
	background-color: #93AE83;
	padding: 2px 5px 2px 5px;
	margin-bottom: 2px;
	color: white;
	font-weight: bold;
}
.folders a
{

	text-decoration: none;
}
.folders a div:hover
{
	background-color: #AACC99;
}
</style>
{% endblock %}
{% block content %}
  <section class="container" style="text-align:center;">
    <form method="GET" style="position:absolute; right:50px;">
      Sort by: 
      <select id="sort" name="sort">
        <option value="d"{% if sort == "d" %} selected="selected"{% endif %}>Date</option>
        <option value="p"{% if sort == "p" %} selected="selected"{% endif %}>Popularity</option>
        <option value="t"{% if sort == "t" %} selected="selected"{% endif %}>Title</option>
      </select>
      In 
      <select id="order" name="order">
        <option value="d"{% if order == "d" %} selected="selected"{% endif %}>Descending</option>
        <option value="a"{% if order == "a" %} selected="selected"{% endif %}>Ascending</option>
      </select>
      order
      <input type="submit" value="Go" class="button">
    </form>
    <h2><a href="/{{ author["username"] }}">{{ author["username"] }}'s</a> Gallery</h2>
    <h4 style="position: absolute; right: 10%;">Folders</h4><br>
    <div style="float: left; width: 80%;">
      <div class="gallery">{{ drawGallery(art) }}</div>
    </div>
    {% macro makeFolder(folder,symbol) %}
    <a href="{{ url_for("viewGallery",username=author["username"],folder=folder) }}"><div class="roundBox">{{ symbol }}</div></a>
    {% endmacro %}
    <div class="folders" style="float: right; width: 20%; margin-top: 5px;">
      {{ makeFolder("all","All Artwork") }}
      {{ makeFolder("complete","Completed Works") }}
      {{ makeFolder("mature","Mature Works") }}
      {{ makeFolder("wip","Works in Progress") }}
      {{ makeFolder("scraps","Scraps") }}
    </div>
    <span style="clear:both;display:block;"></span>
    {% macro makeIndexLink(page,symbol) %}
    <a href="{{ url_for("viewGallery",username=author["username"],folder=folder,page=page) }}">{{ symbol }}</a> 
    {% endmacro %}
    {% if currentPage %}
      {{ makeIndexLink(0,"«") }}
      {{ makeIndexLink(currentPage - 1,"‹") }}
    {% endif %}
    {% if pages != [] %}
    {% set currentPage = pages.pop(0) %}
      <b>{{ currentPage + 1 }}</b>
    {% endif %}
    {% for p in pages %}
      {{ makeIndexLink(p,p + 1) }}
    {% endfor %}
    {% if currentPage < last %}
      {{ makeIndexLink(currentPage + 1,"›") }}
      {{ makeIndexLink(last,"»") }}
    {% endif %}
  </section>
{% endblock %}
