<!doctype html>
<head>
  <meta charset="utf-8">

  <title>DrawRawr Home Page</title>
  <meta name="description" content="DrawRawr is a social utility that allows artists to collaborate, communicate, and show off their galleries online. ">
  <meta name="author" content="Personette Labs">
  
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">

  <link href='http://fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'> 

  <link rel="stylesheet" href="/static/css/mainstyles.css">

  <script src="/static/js/modernizr-1.6.min.js"></script>
  <script src="/static/js/jquery-1.4.4.min.js"></script>
  <script src="/static/js/main.js"></script>

  <style media="screen" type="text/css">
  #rightCol
  {
    float: right;
    width: 80%;
  }
  #leftCol
  {
    width: 20%;
  }
  </style>
</head>
