$var title: DrawRawr Home Page
$var css: None
$var js: None
<div id="rightCol">
  <section class="container">
    <h1>POPULAR ART</h1>
      <p>HERE GOES THE BEST ARTS</p>
  </section>
  <section class="container">
    <h1>RECENT ART</h1>
    <p>HERE GOES THE NEW ART</p>
  </section>
  <section class="container">
    <h1>FEATURED ART</h1>
    <p>U liek em featured? it goz her</p>
  </section>
</div>  
<div id="leftCol">
  <section id="news" class="container">
    <h1>NEWS NEWS NEWS</h1>
    <p>HOT FUCK. NEWS IS THE GREATEST</p>
  </section>
  <section class="container">
    <h1>RECENT JOURNALS</h1>
    <p>Prolly like some recent journals or recent poops go here. </p>
  </section>
</div>
