{% extends "layout.html" %}
{% block title %}Drawrawr Home Page{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/gallery.css" media="screen">
<style media="screen" type="text/css">
h3 { margin-top: 0px; }
</style>
{% endblock %}
{% block content %}
<div class="grid_12">
  <section class="container gallery">
    <h3 class="moduleTitle">POPULAR ART</h3>
    <div style="width: 95%;margin-left: auto; margin-right: auto;">
      {{ drawGallery(popularArt) }}
    </div>
  </section>
  <section class="container gallery" style="max-height:500px;">
    <h3 class="moduleTitle">RECENT ART</h3>
    <div style="width: 95%;margin-left: auto; margin-right: auto;">
      {{ drawGallery(recentArt) }}
    </div>
  </section>
  <section class="container">
    <h3 class="moduleTitle">FEATURED ART</h3>
    <p>U liek em featured? it goz her</p>
  </section>
{% if showAds %}
  <div id="pw_adbox_62797_6_0" style="margin: 5px auto 5px auto; width: 234px;"></div>
{% endif %}
</div>  
{% endblock %}
