{% extends "macros.html" %}
{% block layout %}
<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="DrawRawr is a social utility that allows artists to collaborate, communicate, and show off their galleries online. ">
  <meta name="author" content="Josh Thomas and Catherine Kern">
  <meta name="keywords" content="free community conventions comics art comic artists commission video games artwork game review josh audio animation flash music cullinary craft crafts cat anime social creative paint paintings gallery">

  <title>{% block title %}{% endblock %}</title>
  
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">

  <link href='http://fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'> 

  <link rel="stylesheet" href="/static/css/normalize.css" media="screen">
  <link rel="stylesheet" href="/static/css/grid.css" media="screen">
  <link rel="stylesheet" href="/static/css/mainstyles.css" media="screen">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script src="/static/js/lib/modernizr.geo.js"></script>
  <script src="/static/js/lib/timeago.js"></script>
  <script src="/static/js/main.js"></script>
  {% if config.captcha_public_key and config.captcha_secret_key %}
  <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
  {% endif %}
  {% if show_ads and config.advertisements %}
  <script type="text/javascript" src="/static/js/bottom_ad.js"></script>
  {% endif %}
  {% block head %}{% endblock %}
</head>
<body>
  <noscript class="container"><b>Warning:</b> You are browsing with Javascript disabled. Drawrawr requires Javascript to function correctly. Please either enable it, or upgrade your browser.</noscript>
    {% with messages = get_flashed_messages() -%}
      {% if messages %}
        <ul id = "flashed">
        {% for message in messages %} 
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {%- endwith -%}
  {%- if not g.logged_in_user %}
  <aside class="modal">
    <aside id='register-form' class='container inner'>
      <span class="close"></span>
      <form>
        <h4>CREATE A NEW ACCOUNT</h4>
        <label><h6>USERNAME:</h6> <input type='text' class='text_input_no_recoil' name='username'></label>
        <!-- <h6>EMAIL: (<i>optional</i>)</h6> <input type = 'text' class='text_input_no_recoil' name = 'email'> -->
        <label><h6>PASSWORD:</h6> <input type='password' class='text_input_no_recoil' name='password1'></label>
        <label><h6>VERIFY PASSWORD:</h6> <input type='password' class='text_input_no_recoil' name='password2'></label><br>
        {%- if config.beta_key %}
        <label><h6>BETA CODE:</h6> <input type='text' class='text_input_no_recoil' name='beta_code'></label><br>
        {%- endif %}
        {%- if config.captcha %}
        <div id="register_captcha" data-publicKey="{{ config.captcha_public_key }}">
          <div id="recaptcha_image" style="margin-left: auto; margin-right: auto; margin-top: 5px;"></div>
          <div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect please try again</div>

          <h6 class="marginless"><span class="recaptcha_only_if_image">Enter the words above:</span></h6>
          <h6 class="marginless"><span class="recaptcha_only_if_audio">Enter the numbers you hear:</span></h6>
          <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" class='text_input_no_recoil'>
          <div><h6 class="marginless"><a href="javascript:Recaptcha.reload()">Get another CAPTCHA</a></h6></div>
          <div class="recaptcha_only_if_image"><h6 class="marginless"><a href="javascript:Recaptcha.switch_type('audio')">Get an audio CAPTCHA</a></h6></div>
          <div class="recaptcha_only_if_audio"><h6 class="marginless"><a href="javascript:Recaptcha.switch_type('image')">Get an image CAPTCHA</a></h6></div>
          <div><a href="javascript:Recaptcha.showhelp()"><h6 class="marginless">Help</h6></a></div>
        </div>
        {%- endif %}
        <label><input type='checkbox' name='tos_agree' value='true'><span style="font-size:12px;">You Agree to Our <a href="{{ url_for("terms_of_service") }}">Terms of Service</a></span></label><br>
        <div style='bottom: 165px; left:-336px;' class='mascot'><img src='/static/images/left_register_mascot.png' alt='Green Mascot'></div>
        <div style='bottom: 200px; left:135px;' class='mascot'><img src='/static/images/right_register_mascot.png' alt='Brown Mascot'></div>
        <input type='submit' id="register-submit" class='button' value='Register'>
      </form>
    </aside>
    <aside id='login-form' class='container inner'>
      <span class="close"></span>
      <form>
        <h4>Log In</h4>
        <h6>USERNAME:</h6> <input type='text' class='text_input_no_recoil' name='username'> <br>
        <h6>PASSWORD:</h6> <input type='password' class='text_input_no_recoil' name='password'> <br><br>
        <input type='submit' id="login-submit" class='button' value='Log In'>
      </form>
    </aside>
  </aside>
  {%- endif %}
  <header>
    <div id="header">
      <span id="glued" data-glued="{{ logged_in_user["glued"] }}"></span>
      {% if logged_in_user['username'] %}<div id="set-header">↑</div>{% endif %}
      {% if logged_in_user['username'] %}
        <aside id="control-panel">
          <div style="float:right;">
            <b><a href='{{ url_for("userpage", username=logged_in_user['username']) }}'>{{ logged_in_user['username'] }}</a></b><br>
            <a href="updates">Updates</a><br>
            <a href="{{ url_for('settings') }}">Settings</a>
          </div>
          <a href = "{{ url_for("userpage", username=logged_in_user['username']) }}">
            <img src='/icons/{{ logged_in_user["lowername"] }}' class='user_icon'  style='margin-right: 5px;' alt='User Icon'>
          </a>
        </aside>
      {% else %}
        <aside id="control-panel">
          <br><b><a id="login-button">Login</a></b> or <b><a id="register-button">Register</a></b> in seconds!
        </aside>
      {% endif %}
      <a href="{{ url_for('index') }}"><div id="header-image"></div></a>
    <nav id="navigation">
      <ul style="float: right;">
        <li><a href="{{ url_for('submit_art') }}">Submit Art</a></li>
        <li><a href="{{ url_for('manage_journal') }}">Journals</a></li>
        {% if any(util.dict_to_list(logged_in_user["permissions"]) ) %}<li><a href="{{ url_for('staff') }}">Staff</a></li>{% endif %}
        <li><a id="logout-button">Logout</a></li>
      </ul>
      <ul>
        <li><a href="{{ url_for('index') }}">News</a></li>
        <li><a href="{{ url_for("search") }}">Search</a></li>
        <li><a href="{{ url_for('clubs') }}">Clubs</a></li>
        <li><a href="/">DRadio</a></li>
        <li><a href="{{ url_for('donate') }}">Donate</a></li>
      </ul>
    </nav>
    </div>
    <aside id="notice"></aside>
  </header>
  <div id="content" class="container_12">
    {% block content %}{% endblock %}
  </div>
  <footer id="footer" class="container_12">
    <div style="float:right;">
      &copy;2010-<span id="copyright-date">2013</span> DrawRawr. All rights reserved
    </div>
    <a href="{{ url_for('terms_of_service') }}">Terms of Service</a> &middot;
    <a href="{{ url_for('about') }}">About</a> &middot;
    <a href="/">Cast</a> &middot;
    <a href="/">Something Else</a> 
  </footer>
</body>
</html>
{% endblock %}