$def with (content)
<!doctype html>
<head>
  <meta charset="utf-8">

  <title>$content.title</title>
  <meta name="description" content="DrawRawr is a social utility that allows artists to collaborate, communicate, and show off their galleries online. ">
  <meta name="author" content="Personette Labs">
  
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">

  <link href='http://fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'> 

  <link rel="stylesheet" href="/static/css/mainstyles.css" media="screen">

  $if content.css != "None":
    $for f in content.css.split():
      <link rel="stylesheet" href="$f" media="screen">

  <script src="/static/js/modernizr-1.6.min.js"></script>
  <script src="/static/js/jquery-1.4.4.min.js"></script>
  <script src="/static/js/main.js"></script>

  $if content.js != "None":
    $for f in content.js.split():
      <script src="$f"></script>

  <style media="screen" type="text/css">
  #rightCol 
  {
    float: right;
    width: 80%;
  }
  #leftCol
  {
    width: 20%;
  }
  </style>
</head>
<body class="home">
  <header>
    <div id="header">
      <div id="set-header">↑</div>
      <a href="#"><img src="#" class="tinyIcon" style="position:absolute;right:20px;top:2px;" alt="Lambdanaut"></a>
      <aside id="control-panel">
        Want to join? <a id="register-button">Register</a> in seconds! 
      </aside>
      <div id="header-image">
        DRAWRAWR HEADER
      </div>
    </div>
    <aside id="notice"></aside>
    <aside id="modal"><div class="container"></div></aside>
    <nav id="navigation" class="roundBox">
      <ul>
        <li><a href="#"><img src='/static/images/tinyCLUBS.png' alt="News">News</a></li> 
        <li><a href="#"><img src='/static/images/tinySEARCH.png' alt="Search">Search</a></li> 
        <li><a href="#"><img src='/static/images/tinyDRAWRBOARD.png' alt="DrawrBoard">Draw</a></li> 
        <li><a href="#"><img src='/static/images/tinyCHAT.png' alt="Chat">Chat</a></li> 
        <li><a href="#"><img src='/static/images/tinyDONATE.png' alt="Donate">Donate</a></li>
      </ul>
    </nav>
  </header>
  <div id="content" class="roundBox">
    $:content
  </div>
  <footer id="footer">
    <span style="float:right;">copyright &copy; DrawRawr, <span id="copyright-date"></span></span>
    <a href="/policy/terms-of-service">Terms of Service</a> ·
    <a href="/policy/staff">Staff</a> ·
    <a href="">DrawRawr API</a> ·
    <a href="">Something Else</a> 
  </footer>
</body>
</html>
