{# Takes an integer and returns the corresponding month #}
{% macro monthName(m) %}{% if m == 1 %}January{% elif m == 2 %}February{% elif m == 3 %}March{% elif m == 4 %}April{% elif m == 5 %}May{% elif m == 6 %}June{% elif m == 7 %}July{% elif m == 8 %}August{% elif m == 9 %}September{% elif m == 10 %}October{% elif m == 11 %}November{% else %}December{% endif %}{% endmacro %}
{# Writes out three select boxes with names "changeYear", "changeMonth", and "changeDay" #}
{% macro dateSelects() %}
<select name=changeMonth>
  <option value='1'>January</option>
  <option value='2'>February</option>
  <option value='3'>March</option>
  <option value='4'>April</option>
  <option value='5'>May</option>
  <option value='6'>June</option>
  <option value='7'>July</option>
  <option value='8'>August</option>
  <option value='9'>September</option>
  <option value='10'>October</option>
  <option value='11'>November</option>
  <option value='12'>December</option>
</select>
<select name=changeDay >
{% for day in range(1,32) %}
  <option value='{{ day }}'>{{ day }}</option>
{% endfor %}
</select>
<select name=changeDay >
{% for year in range(1910,2013) %}
  <option value='{{ year }}'>{{ year }}</option>
{% endfor %}
</select>
{% endmacro %}
{# Sets the css to fit a theme #}
{% macro applyTheme(theme) %}
<link rel="stylesheet" href="/static/css/userpages/{{ theme }}.css">
{% endmacro %}
{# Take a list of arts from the database and shows them in gallery format on the page #}
{% macro drawGallery(gallery) %}
{% if gallery %}
  {% for art in gallery %}
    <img src="{{ config["thumbDir"] }}" alt="{{ art["title"] }}" title="{{ art["title"] }} by {{ art["author"] }}">
  {% endfor %}
{% else %}
  No art has been submitted yet! 
{% endif %}
{% endmacro %}
{% block layout %}{% endblock %}
