{% extends "layout.html" %}
{% block title %}Settings{% endblock %}
{% block head %}
<script src="/static/js/lib/jquery-ui-1.8.18.custom.min.js"></script>
<script src="/static/js/tabs.js"></script>
<script src="/static/js/settings.js"></script>
<link rel="stylesheet" href="/static/css/tabs.css" media="screen">
<link rel="stylesheet" href="/static/css/draggable.css" media="screen">
<link rel="stylesheet" href="/" media="screen" id="colorThemeStyle">
<style media="screen" type="text/css">
h3
{
	margin: 2px;
}
.left_col
{
	float: left;
	width: 33%;
}
.middle_col
{
	float: left;
	width: 33%
}
.right_col
{
	float: left;
	width: 33%;
}
#content_mimic
{
	float: left;
	width: 60%;
	background-color: #B8B8B8;
}
.container
{
	margin: 5px;
}
.profile_full_row
{
	width: 100%;
	clear: both;
	padding-top: 5px;
}
#profile_top
{
	min-height: 75px;
	border-bottom: dashed 1px #513727;
}
#profile_right_col
{
	float: right;
	min-height: 75px;
	width: 35%;
}
#profile_left_col
{
	width: 65%;
	min-height: 75px;
}
#profile_bottom
{
	border-top: dashed 1px #513727;
	min-height: 75px;
}
#profile_hidden_divider
{   
	text-align:center;
	border-top: double 1px #513727;	
}
#profile_hidden
{
	min-height: 150px;
}
#profile_hidden .draggable
{
        float: left;
        display: inline;
        color: #cccccc;
        background-color: #637e63;
        width: 20%;
}
#profile_hidden .draggable:hover
{
	background-color: #70CD71;
}
</style>
{% endblock %}
{% block content %}
  <div id="tabs">
    <ul>
      <li id="general"><a href="#-general">General Settings</a></li>
      <li id="profile"><a href="#-profile">My Profile</a></li>
      <li id="layout"><a href="#-layout">Page Layout</a></li>
      {% if config.beta_key %}<li id="beta"><a href="#-beta">Invites</a></li>{% endif %}
    </ul>
  </div>
  <form enctype="multipart/form-data" method="POST" action="/users/settings">
    <section id="tab-content" class="container">
      <div id="tab-general"> 
        <div class="left_col">
          <h3>Upload a New Icon: </h3>
          <img src = '/icons/{{ logged_in_user["lowername"] }}' style='float:left;' class='user_icon' alt='Current User Icon'>
          <input type="file" name="icon_upload" id="icon_upload"><br style="clear: both;"><br>
          <h3>Change your Password: </h3>
          Current Password: <br>
          <input type="password" name="change_pass_current" class="text_input"><br>
          New Password: <br>
          <input type="password" name="change_pass_new_1" class="text_input"><br>
          New Password(Repeat): <br>
          <input type="password" name="change_pass_new_2" class="text_input"><br>
        </div>
        <div class="middle_col">
          <h3>Gender: </h3>
          <select name="change_gender" id="change_gender">
            <option value="h"{% if logged_in_user['gender'] == 'h' %} id='default_gender'{% endif %}>Hide Gender</option>
            <option value="m"{% if logged_in_user['gender'] == 'm' %} id='default_gender'{% endif %}>Male</option>
            <option value="f"{% if logged_in_user['gender'] == 'f' %} id='default_gender'{% endif %}>Female</option>
          </select><br><br>
        </div>
        <div class="right_col">
          <div id="whyHelp" style="display: none; top: 4px;">
            <p> Drawrawr uses your location to help you find artists near you! Your exact latitude and longitude is not shared, only your general distance from other users is shown. </p>
          </div>
          <h3 style="display:inline; ">Location: </h3> <span id="why_location" style="cursor:pointer;font-size: 12px;font-weight: bold;text-decoration:underline">(why?)</span> <br>
          Latitude: <br>
          <input type="text" name="change_latitude" id="latitude" class="text_input" value="{{ logged_in_user["latitude"] }}"><br>
          Longitude: <br>
          <input type="text" name="change_longitude" id="longitude" class="text_input" value="{{ logged_in_user["longitude"] }}"><br>
          <button type="button" id="get_location" class="button" style="margin-top: 5px;" >Automatically Get Location</button>
          <div id="no_location_browser" style="display:none; font-size: 12px;"> You can find your location at <a href="http://itouchmap.com/latlong.html">itouchmap.com</a></div>
        </div>
        <div style="clear: both;"></div>
      </div>
      <div id="tab-profile">
        <h3>Profile Text: </h3>
        <textarea name="change_profile" style="width: 100%; height: 340px;">{{ logged_in_user["profile"] }}</textarea>
      </div>
      <div id="tab-layout"> 
        <p>
          <div style='float:left; width: 40%;'>
            <div class='layout_section'>
              <p>This is where you can customize the layout and design of your userpage! Drag and Drop "sections" to add them to your page or change their placement.</p>
              <ul>
                <li>Drag sections to the "Hidden" area to remove them from your page.</li>
                <li>Some sections can only be placed in certain areas of your userpage.</li>
                <li>Mouse over the sections to see where they can be placed.</li>
                <li>Click the "?" button on a section to learn more about it!</li>
              </ul>
            </div>
            <div class='layout_section'>
              <h2>Color Theme: </h2>
              <span id="default_theme" data-theme="{{ logged_in_user["theme"] }}" ></span>
              <select name="change_color_theme" id="change_color_theme">
                <option value="default">DR Default</option>
                <option value="winterWhite">Winter White</option>
                <option value="pinkBerry">Pink Berry</option>
                <option value="cherryRed">Cherry Red</option>
                <option value="orangeCream">Orange Cream</option>
                <option value="bananaYellow">Banana Yellow</option>
                <option value="limeGreen">Lime Green</option>
                <option value="forestGreen">Forest Green</option>
                <option value="skyBlue">Sky Blue</option>
                <option value="oceanBlue">Ocean Blue</option>
                <option value="purpleGrape">Purple Grape</option>
                <option value="royalPurple">Royal Purple</option>
                <option value="stoneGray">Stone Gray</option>
                <option value="pitchBlack">Pitch Black</option>
                <option value="rainbowrific">Rainbowrific</option>
              </select>
            <h2>Font Type:</h2>
          
            </div>
          </div>
{% macro drawModule(module,loc,order) %}
  {% if logged_in_user["layout"][module][0] == loc and logged_in_user["layout"][module][1] == order %} <div id="{{ module }}" class="draggable container">{{ module }}</div> {% endif %}
{% endmacro %}
{% macro drawModules(l) %}
  {% for o in range(0,6) %}
    {{ drawModule("profile",l,o) }}
    {{ drawModule("gallery",l,o) }}
    {{ drawModule("watches",l,o) }}
    {{ drawModule("comments",l,o) }}
    {{ drawModule("nearby",l,o) }}
    {{ drawModule("journal",l,o) }}
  {% endfor %}
{% endmacro %}
          <div id="content_mimic" class='round_box'>
            <div class='layout_section'>
              <div id="visibleArea">
                <div id="profile_top" class="profile_full_row drag_box" data-loc="t">
                  {{ drawModules("t") }}
                </div>
                <div id="profileMiddle" class="profile_full_row">
                  <div id="profile_right_col" class="drag_box" data-loc="r">
                    {{ drawModules("r") }}
                  </div>
                  <div id="profile_left_col" class="drag_box" data-loc="l">
                    {{ drawModules("l") }}
                  </div>
                </div>
                <div id="profile_bottom" class="profile_full_row drag_box" data-loc="b">
                  {{ drawModules("b") }}
                </div>
                <div id="profile_hidden_divider"><h3>Hidden Modules</h3></div>
		<div id="profile_hidden" class="profile_full_row drag_box" data-loc="h">
                  {{ drawModules("h") }}
		</div>
              </div>
            </div>
          </div>
        <div style="clear: both;"></div>
      </div>
      {% if config.beta_key %}
      <div id="tab-beta"> 
        <div class="left_col">
          <h3>Invite a Friend to Drawrawr!</h3>
          <p>This is where you can redeem your <b>invites</b> for Beta Pass codes!
Each time you click the "Get Invite" button, a random 8-letter code will be generated for you. 
This code can be given to friends and used to make a new account on Drawrawr, but <b>each code can only be used once</b>.
Once it is used, it is gone. So use them wisely!</p>
        </div>
	<div class="middle_col">
          <h3>Invites Left: <span style="color: #CD7300; text-decoration: underline;">{{ logged_in_user["beta_keys"] }}</span></h3>
          <button type="button" id="generate_new_invite" class="button"> Generate a New Invite </button>
        </div>
	<div class="right_col">
          <ul id="beta_key_list">
          {% if beta_keys.count() != 0 %}
            <strong>Your Beta Keys: </strong>
            {% for key in beta_keys %}
            <li>{{ key["password"] }}</li>
            {% endfor %}
          {% endif %}
          </ul>
          <img src="/static/images/loader.gif" id="beta_loader" alt="LOADING" style="display:none;">
        </div>
        <div style="clear: both;"></div>
      </div>
      {% endif %}
    </section>
    <input type = "hidden" id="change_layout" name="change_layout">
    <input type = "hidden" id="change_layout_order" name="change_layout_order">
    <div style="text-align:center;"><input type="submit" id="submitButton" value="Update Settings" class="button"></div>
  </form>
{% endblock %}
