{% extends "layout.html" %}
{% block title %} Settings {% endblock %}
{% block head %}
{% endblock %}
{% block content %}
  <section class="container" style="text-align:center;">
    {% if len(messages) == 0 %}
      <h1> - No Settings Published - </h1>
      <p>You didn't make any changes to your <a href="/users/settings">settings</a>. </p>
    {% elif len(messages) == 1 %}
      <h1> - Settings Published - </h1>
      <p>Your changes made to your <strong>{{ messages[0] }}</strong> were successful! </p>
      <p>Why don't you head over to your <a href="/{{ logged_in_user["username"] }}">userpage</a>, or back to your <a href="/users/settings">settings</a>! </p>
    {% else %}
      <h1> - Settings Published - </h1>
      <ul style="list-style:none;">
      {% for message in messages %}
          <li>{{ message }}</li>
      {% endfor %}
      </ul>
      <p>Why don't you head over to your <a href="/{{ logged_in_user["username"] }}">userpage</a>, or back to your <a href="/users/settings">settings</a>! </p>
    {% endif %}
  </section>
{% endblock %}