{% extends "layout.html" %}
{% block title %}Settings{% endblock %}
{% block head %}
<script src="/static/js/jquery-ui-1.8.17.custom.min.js"></script>
<script src="/static/js/tabs.js"></script>
<script src="/static/js/settings.js"></script>
<link rel="stylesheet" href="/static/css/tabs.css" media="screen">
<link rel="stylesheet" href="/static/css/draggable.css" media="screen">
<link rel="stylesheet" href="/" media="screen" id="colorThemeStyle">
<style media="screen" type="text/css">
h3
{
	margin: 2px;
}
.leftCol
{
	float: left;
	width: 33%;
}
.middleCol
{
	float: left;
	width: 33%
}
.rightCol
{
	float: left;
	width: 33%;
}
#contentMimic
{
	float: left;
	width: 60%;
	background-color: #f1e3d1;
}
.profileFullRow
{
	width: 100%;
	clear: both;
	padding-top: 5px;
}
#profileTop
{
	min-height: 75px;
	border-bottom: dashed 1px #513727;
}
#profileRightCol
{
	float: right;
	min-height: 75px;
	width: 35%;
}
#profileLeftCol
{
	width: 65%;
	min-height: 75px;
}
#profileBottom
{
	border-top: dashed 1px #513727;
	min-height: 75px;
}
#profileHiddenDivider
{
	text-align:center;
	border-top: double 1px #513727;	
}
#profileHidden
{
	min-height: 150px;
}
#profileHidden .draggable
{
        float: left;
        display: inline;
        color: #cccccc;
        background-color: #637e63;
        width: 20%;
}
#profileHidden .draggable:hover
{
	background-color: #70CD71;
}
</style>
{% endblock %}
{% block content %}
  <div id="tabs">
    <ul>
      <li id="general"><a href="#-general">General Settings</a></li>
      <li id="profile"><a href="#-profile">My Profile</a></li>
      <li id="layout"><a href="#-layout">Page Layout</a></li>
    </ul>
  </div>
  <form enctype="multipart/form-data" method="POST" action="/users/settings">
    <section id="tab-content" class="container">
      <div id="tab-general"> 
        <div class="leftCol">
          <h3>Upload a New Icon: </h3>
          <img src = '/icons/{{ loggedInUser["lowername"] }}.{{ loggedInUser["icon"] }}' style='float:left;' class='userIcon' alt='Current User Icon'>
          <input type="file" name="iconUpload" id="iconUpload"><br style="clear: both;"><br>
          <h3>Change your Password: </h3>
          Current Password: <br>
          <input type="password" name="changePassCurrent" class="textInput"><br>
          New Password: <br>
          <input type="password" name="changePassNew1" class="textInput"><br>
          New Password(Repeat): <br>
          <input type="password" name="changePassNew2" class="textInput"><br>
        </div>
        <div class="middleCol">
          <h3>Gender: </h3>
          <select name="changeGender" id="changeGender">
            <option value="h"{% if loggedInUser['gender'] == 'h' %} id='defaultGender'{% endif %}>Hide Gender</option>
            <option value="m"{% if loggedInUser['gender'] == 'm' %} id='defaultGender'{% endif %}>Male</option>
            <option value="f"{% if loggedInUser['gender'] == 'f' %} id='defaultGender'{% endif %}>Female</option>
          </select><br><br>
        </div>
        <div class="rightCol">
          right
        </div>
        <div style="clear: both;"></div>
      </div>
      <div id="tab-profile">
        <h3>Profile Text: </h3>
        <textarea name="changeProfile" style="width: 100%;" class="textArea">{{ loggedInUser["profile"] }}</textarea>
      </div>
      <div id="tab-layout"> 
        <p>
          <div style='float:left; width: 40%;'>
            <div class='layoutSection'>
              <p>This is where you can customize the layout and design of your userpage! Drag and Drop "sections" to add them to your page or change their placement.</p>
              <ul>
                <li>Drag sections to the "Hidden" area to remove them from your page.</li>
                <li>Some sections can only be placed in certain areas of your userpage.</li>
                <li>Mouse over the sections to see where they can be placed.</li>
                <li>Click the "?" button on a section to learn more about it!</li>
              </ul>
            </div>
            <div class='layoutSection'>
              <h2>Color Theme: </h2>
              <span id="defaultTheme" data-theme="{{ loggedInUser["theme"] }}" ></span>
              <select name="changeColorTheme" id="changeColorTheme">
                <option value="default">DR Default</option>
                <option value="cocoaBrown">Cocoa Brown</option>
                <option value="winterWhite">Winter White</option>
                <option value="pinkBerry">Pink Berry</option>
                <option value="cherryRed">Cherry Red</option>
                <option value="orangeCream">Orange Cream</option>
                <option value="bananaYellow">Banana Yellow</option>
                <option value="limeGreen">Lime Green</option>
                <option value="forestGreen">Forest Green</option>
                <option value="turquoise">Turquoise</option>
                <option value="skyBlue">Sky Blue</option>
                <option value="oceanBlue">Ocean Blue</option>
                <option value="blueInk">Blue Ink</option>
                <option value="purpleGrape">Purple Grape</option>
                <option value="royalPurple">Royal Purple</option>
                <option value="stoneGray">Stone Gray</option>
                <option value="pitchBlack">Pitch Black</option>
                <option value="rainbowrific">Rainbowrific</option>
              </select>
            <h2>Font Type:</h2>
          
            </div>
          </div>
          <div id="contentMimic" class='roundBox'>
            <div class='layoutSection'>
              <div id="visibleArea">
                <div id="profileTop" class="profileFullRow dragBox">
                  <div class="draggable container">Profile</div>
                  <div class="draggable container">Profile</div>
                </div>
                <div id="profileMiddle" class="profileFullRow">
                  <div id="profileRightCol" class="dragBox">
                    <div class="draggable container">Profile</div>
                  </div>
                  <div id="profileLeftCol" class="dragBox">
                    <div class="draggable container">Profile</div>
                    <div class="draggable container">Profile</div>
                  </div>
                </div>
                <div id="profileBottom" class="profileFullRow dragBox">
                  <div class="draggable container">Profile</div>
                </div>
                <div id="profileHiddenDivider"><h3>Hidden Modules</h3></div>
		<div id="profileHidden" class="profileFullRow dragBox">
		</div>
              </div>
            </div>
          </div>
        <div style="clear: both;"></div>
      </div>
    </section>
    <div style="text-align:center;"><input type="submit" value="Update Settings" class="button"></div>
  </form>
{% endblock %}
