{% extends "layout.html" %}
{% block title %} Staff Center {% endblock %}
{% block head %}
{% endblock %}
{% block content %}
  <div class="grid_12">
    <img src="/static/images/staffbadge.png" alt="Staff Badge" style="float: left; margin: 5px;">
    <p style="font-size: 14px; font-weight: bold; margin: 30px 50px;">Welcome to the Staff Center. Here you can vote on and create Voting Propositions, review and resolve User Reports, Observe Recent Actions taken by the staff, etc. You should put aside at least a short amount of time DAILY to vote. If something goes wrong and there are no higher level Staff members online, You can call the Admins at: 1-910-471-5067 If you have any other questions, ask an Admin.</p>
  </div>
  <div class="grid_8">
    <section class="container">
      arf
    </section>
  </div>
  <div class="grid_4">
    <section class="container">
      <h3> Site Stats</h3>
      <ul>
        <li><strong>Users: </strong>{{ user_count }}</li>
        <li><strong>Arts: </strong>{{ art_count }}</li>
      </ul>
    </section>
  </div>
{% endblock %}