{% extends "layout.html" %}
{% block title %}Submit Art{% endblock %}
{% block head %}
<script src= "/static/js/submit.js"></script>
<style>

.artArea
{
	display:none;
	text-align:left;
}
.artArea table
{
	margin: auto;
}
.artArea th
{
	padding: 10px;
}

</style>
{% endblock %}
{% block content %}
  <section class="container" style="text-align: center; min-height: 200px;">
    <img src= "/static/images/drminigreen.png" alt="GREENY" style="float:left; margin-top: 50px; margin-left: 100px;">
    <img src= "/static/images/drminibrown.png" alt="BROWNIE" style="float:right; margin-top: 50px; margin-right: 100px;">
    <div style="position:relative;top: 50px;">
      <h2 id="submit_title"> Submit Artwork </h2>
      <b>Submission type:</b>
      <select id="artOptions" name="artOptions">
        <option id="ignore">-----</option>
        <option>Image</option>
        <option>Audio</option>
        <option>Literature</option>
        <option>Craft</option>
        <option>Culinary</option>
        <option>Performance</option>
      </select>
    </div>
  </section>
    <div id="imageArea" class="artArea">
      <form enctype="multipart/form-data" method="POST" class="container">
        <input type="hidden" name="art_type" value="image">
        <table>
          <tr>
            <th>File: </th>
            <th><input type="file" name="upload"></th>
          </tr>
          <tr>
            <th>Title: </th>
            <th><input type="text" name="title" class='text_input'></th>
          </tr>
          <tr>
            <th>Description: </th>
            <th><textarea cols=50 rows=10 style="width: 400px; 150px;" name="description"></textarea></th>
          </tr>
          <tr>
            <th></th>
            <th><input type="submit"  class='button upload_button'></th>
          </tr>
        </table>
      </form>
    </div>
    <div id="audio_area" class="artArea">
    </div>
    <div id="literature_area" class="artArea">
    </div>
    <div id="craft_area" class="artArea">
    </div>
    <div id="culinary_area" class="artArea">
    </div>
    <div id="performance_area" class="artArea">
    </div>
    <aside class='modal'>
      <div id="submit_loading_modal" style="margin-top: 10%; margin-left: auto; margin-right: auto; z-index:10000;">
        <b>UPLOADING ART</b><br>
        <img src="/static/images/loader.gif" alt="LOADING">
      </div>
    </aside>
{% endblock %}
