{% extends "layout.html" %}
{% block title %}{{ user["username"] }} @ DrawRawr{% endblock %}
{% block head %}
  <link rel="stylesheet" href="/static/css/gallery.css" media="screen">
  <link rel="stylesheet" href="/static/css/comment.css" media="screen">
  <script src="/static/js/user.js"></script>
  <script src="/static/js/comment.js"></script>

  <style media="screen" type="text/css">
  #user_nav_area a
  {
  	color: inherit;
  	text-decoration: none;
  }
  .tab_button
  {
  	float: right;
  	padding: 3px 5px 3px 5px;
  	margin-right: 5px;
  	cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    list-style-type: none;
    font-size: 0.9em;
  }
  .tab_button:hover
  {
    background: none;
    background-color: #DDDDDD;
  }
  .journal_content
  {
    max-height: 200px;
    overflow: auto;
  }
  </style>

{# Color Theme Settings #}
{{ apply_theme(user["theme"]) }}

{% endblock %}	

{%- macro profile() %}
  <section class="container">
  <div style="float:left;height:100%;margin-right:5px;">
  {{ user_icon(user['username']) }}
  </div>
  <div>
    <h3 style="display: inline;margin-top:0px;">{{ user['username'] }}</h3> 
    {% if user["gender"] == "m"   %} <img src='/static/images/male.png' alt='Male'>
    {% elif user["gender"] == "f" %} <img src='/static/images/female.png' alt='Female'> 
    {% endif %}
    {% if user["dob"] != None %}
      <span style="font-size:12px;">
	Birthday: {{ month_name(user["dob"].month) }} {{ user["dob"].day }}, {{ user["dob"].year }}
      </span>
    {% endif %}
    <div style="margin-left: 80px;">{{ user["code_profile"] | safe }}</div>
  </div>
  <div style="clear: both;"></div>
  </section>
{% endmacro %}

{%- macro gallery() %}
  <section class="container gallery" style="max-height: 264px;min-height:140px;">
    <span class="module_title">Gallery</span>
    <span style="clear:both;"></span>
    {{ draw_gallery(userGallery) }}
  </section>
{% endmacro %}

{%- macro watches() %}
  <section class="container gallery" style="max-height: 260px;">
    <span class="module_title">Watchers</span>
    <div id="watchers">
    {{ draw_users( user["watchers"][:25], small_icon=True ) }}
    </div>
  </section>
{% endmacro %}

{%- macro comments() %}
  <section class="container">
    <span class="module_title">Comments</span>
    <div id="reply_form_template">{{ draw_reply_form(user["_id"], "u") }}</div>
    {% if comment_result %}
      {% for comment in comment_result %}
        {{ draw_comment_chain(comment,user["_id"],"u") }}
      {% endfor %}
    {% endif %}
    <div class="leave_comment_button">Leave a Comment</div>
    <div class="comment" id="leave_comment_form"></div>
  </section>
{% endmacro %}

{%- macro nearby() %}
  <section class="container gallery" style="max-height: 260px;">
    <span class="module_title">Nearby Artists</span>
    {{ draw_users( nearby_users, small_icon=True ) }}
  </section>
{% endmacro %}

{%- macro journal() %}
  <section class="container">
  {% if journal_result %}
    <span class="module_title">
      <span style="float:right;font-weight:normal;font-size:0.8em;">Posted {{ draw_relative_time(journal_result['date']) }}</span>
      Journal :: <a href="{{ url_for("view_journal", journal = journal_result['_id']) }}" style="text-decoration:none;">{{ journal_result["title"] }}</a>
    </span>
    <div class="journal_content">
      {{ journal_result["code_content"] | safe }}
    </div>
    <div style="text-align:right;">
      <a href="{{ url_for("view_journal", journal = journal_result['_id']) }}">Read More&hellip;</a>
    </div>
  {% else %}
    <span class="module_title">Journal</span>
    <p style="text-align:center;">There aren't any journals to display just yet! </p>
  {% endif %}
  </section>
{% endmacro %}

{%- macro mod_to_func(m) %}
  {%- if   m == "profile"  %}{{ profile() }}
  {%- elif m == "gallery"  %}{{ gallery() }}
  {%- elif m == "watches"  %}{{ watches() }}
  {%- elif m == "comments" %}{{ comments() }}
  {%- elif m == "nearby"   %}{{ nearby() }}
  {%- elif m == "journal"  %}{{ journal() }}
  {%- endif %}
{% endmacro %}

{%- macro drawModule(module,loc,order) %}
  {%- if user["layout"][module][0] == loc and user["layout"][module][1] == order -%} {{- mod_to_func(module) -}} {%- endif %}
{% endmacro %}

{%- macro row(l) -%}
  {%- for o in range(0,5) -%}
    {{- drawModule("profile",l,o) -}}
    {{- drawModule("gallery",l,o) -}}
    {{- drawModule("watches",l,o) -}}
    {{- drawModule("comments",l,o) -}}
    {{- drawModule("nearby",l,o) -}}
    {{- drawModule("journal",l,o) -}}
  {%- endfor -%}
{%- endmacro -%}

{% block content %}
<span id="username" data-name="{{ user["username"] }}"></span>
{% if logged_in_user %}<span id="logged_in_username" data-name="{{ logged_in_user["username"] }}"></span>{% endif %}
<div class="grid_12">
  <div style="float: left;" id="user_nav_area">
    {% if journal_result %}
    <a href="{{ url_for("view_user_journals", username=user["username"]) }}" class="container tab_button"><!--<img src="/static/images/tinyCHAT.png" alt="Drawrboard icon" style="vertical-align:bottom;">--> View Journals</a>
    {% endif %}
    <a href="{{ url_for("view_gallery", username=user["username"]) }}" class="container tab_button"><!--<img src="/static/images/tinyDRAWRBOARD.png" alt="Drawrboard icon" style="vertical-align:bottom;">--> View Gallery</a>
  </div>
{% if g.logged_in_user and g.logged_in_user["_id"] != user["_id"] %}
  <div class="container tab_button" id="watch_user_button" style="margin-right:0;" data-state="{{ logged_in_user["username"] in user["watchers"] }}"> + watch </div>
  <div class="container tab_button" id="message_user_button"> ~ message </div>
{% endif %}
</div>
<div class="grid_12">
  {{ row("t") }}
</div>
<div class="grid_8">
  {{ row("l") }}
</div>
<div class="grid_4">
  {{ row("r") }}
</div>
<div class="grid_12">
  {{ row("b") }}
</div>
{% endblock %}