{% extends "layout.html" %}
{% block title %} {{ user["username"] }} @ DrawRawr  {% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/gallery.css" media="screen">
<script src="/static/js/user.js"></script>

<style media="screen" type="text/css">
.fullRow
{
	width: 100%;
	clear: both;
}
#rightCol
{
	float: right;
	width: 30%;
}
#leftCol
{
	width: 70%;
}
#topArea
{
	margin-top: -5px;
	margin-left: 5px;
}
.moduleTitle
{
	display: block;
	text-align: left;
	padding-bottom: 2px;
	margin-bottom: 2px;
	border-bottom: dashed 1px;
}
.tabButton
{
	float: right;
	padding: 3px 5px 3px 5px;
	cursor: pointer;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        list-style-type: none;
}
.tabButton:hover
{
	background-color: #EEEEEE;

}
</style>

{# Color Theme Settings #}
{{ applyTheme(user["theme"]) }}

{% endblock %}	

{% macro profile() %}
  <section class="container">
  <div style="float:left;height:100%;margin-right:5px;">
  {{ userIcon(user['username']) }}
  </div>
  <div>
    <h3 style="display: inline;margin-top:0px;">{{ user['username'] }}</h3> 
    {% if user["gender"] == "m"   %} <img src='/static/images/male.png' alt='Male'>
    {% elif user["gender"] == "f" %} <img src='/static/images/female.png' alt='Female'> 
    {% endif %}
    {% if user["dob"] != None %}
      <span style="font-size:12px;">
	Birthday: {{ monthName(user["dob"].month) }} {{ user["dob"].day }}, {{ user["dob"].year }}
      </span>
    {% endif %}
    <div style=" margin-left: 80px;">{{ user["codeProfile"] | safe }}</div>
  </div>
  <div style="clear: both;"></div>
  </section>
{% endmacro %}

{% macro gallery() %}
  <section class="container gallery" style="max-height: 260px;min-height:140px;">
    <span class="moduleTitle">Gallery</span>
    <span style="clear:both;"></span>
    {{ drawGallery(userGallery) }}
  </section>
{% endmacro %}

{% macro watches() %}
  <section class="container gallery" style="max-height: 260px;">
    <span class="moduleTitle">Watchers</span>
    {{ drawUsers( user["watchers"] ) }}
  </section>
{% endmacro %}

{% macro comments() %}
  <section class="container">
    <span class="moduleTitle">Comments</span>
    <p>Comments Go Here</p>
  </section>
{% endmacro %}

{% macro row(rowName) %}
  {% if user["layout"]["profile" ] == rowName %} {{ profile () }} {% endif %}
  {% if user["layout"]["gallery" ] == rowName %} {{ gallery () }} {% endif %}
  {% if user["layout"]["watches" ] == rowName %} {{ watches () }} {% endif %}
  {% if user["layout"]["comments"] == rowName %} {{ comments() }} {% endif %}
{% endmacro %}

{% block content %}
<span id="username" data-name="{{ user["username"] }}"></span>
<div style="float: left;">
  <div class="container tabButton"><img src="/static/images/tinyCHAT.png" alt="Drawrboard icon" style="vertical-align:bottom;"> View Journals</div>
  <div class="container tabButton"><img src="/static/images/tinyDRAWRBOARD.png" alt="Drawrboard icon" style="vertical-align:bottom;"> View Gallery</div>
</div>
{% if g.loggedInUser and g.loggedInUser["_id"] != user["_id"] %}
<div id="topArea">
  <div class="container tabButton" id="watchUserButton" data-state="{{ inList(loggedInUser["username"], user["watchers"]) }}"> + watch </div>
  <div class="container tabButton" id="messageUserButton"> ~ message </div>
</div>
{% endif %}
<div id="top" class="fullRow">
  {{ row("t") }}
</div>
<div id="middle" class="fullRow">
  <div id="rightCol">
    {{ row("r") }}
  </div>
  <div id="leftCol">
    {{ row("l") }}
  </div>
</div>
<div id="bottom" class="fullRow">
  {{ row("b") }}
</div>
{% endblock %}
