{% extends "layout.html" %}
{% block title %} {{ user["username"] }} @ DrawRawr  {% endblock %}
{% block head %}
<script src="/static/js/userpage.js"></script>
<style media="screen" type="text/css">
.fullRow
{
	width: 100%;
	clear: both;
}
#rightCol
{
	float: right;
	width: 30%;
}
#leftCol
{
	width: 70%;
}
#topArea
{
	margin-top: -5px;
	margin-left: 5px;
}
.tabButton
{
	float: right;
	padding: 3px 5px 3px 5px;
}

{# Color Theme Settings #}
{% if user["theme"] == "blue" %}
#content
{
	background-color: blue;
	color: green;
}
{% elif user["theme"] == "winterWhite" %}

body
{
	background-image: url("/static/images/userpage/whitebg.png");
}

#navigation
{
	background-color: #DBDBDB;
	color: #FFFFFF;
}

#navigation li
{
	border-left: solid 2px #FFFFFF;
}

#navigation li:hover
{
	background-color: #E8E8E8;
}

#navigation .final
{
	border-right: solid 2px #FFFFFF;
}
#footer
{
	color: #A6A5A9;
}
#footer a
{
	color: #A6A5A9;
}

#content
{
	background-color: #DBDBDB;
	color: #A6A5A9;
}

{% elif user["theme"] == "pinkBerry" %}

body
{
	background-image: url("/static/images/userpage/pinkbg.png");
}

#navigation
{
	background-color: #D5554B;
	color: #FFFFFF;
}

#navigation li
{
	border-left: solid 2px #FF8080;
}

#navigation li:hover
{
	background-color: #F39595;
}

#navigation .final
{
	border-right: solid 2px #FF8080;
}
#footer
{
	color: #D5554B;
}
#footer a
{
	color: #D5554B;
}

#content
{
	background-color: #FFC0C0;
	color: #D5554B;
}

{% elif user["theme"] == "cherryRed" %}

body
{
	background-image: url("/static/images/userpage/redbg.png");
}

#navigation
{
	background-color: #5A0000;
	color: #FFFFFF;
}

#navigation li
{
	border-left: solid 2px #F00000;
}

#navigation li:hover
{
	background-color: #BE0000;
}

#navigation .final
{
	border-right: solid 2px #F00000;
}
#footer
{
	color: #5A0000;
}
#footer a
{
	color: #5A0000;
}

#content
{
	background-color: #FF3939;
	color: #5A0000;
}

{% elif user["theme"] == "orangeCream" %}

body
{
	background-image: url("/static/images/userpage/orangebg.png");
}

#navigation
{
	background-color: #BE4D02;
	color: #FFFFFF;
}

#navigation li
{
	border-left: solid 2px #F86402;
}

#navigation li:hover
{
	background-color: #F66402;
}

#navigation .final
{
	border-right: solid 2px #F86402;
}
#footer
{
	color: #793101;
}
#footer a
{
	color: #793101;
}

#content
{
	background-color: #FFAB47;
	color: #BE4D02;
}

{% elif user["theme"] == "bananaYellow" %}

body
{
	background-image: url("/static/images/userpage/yellowbg.png");
}

#navigation
{
	background-color: #7B5005;
	color: #FFFFFF;
}

#navigation li
{
	border-left: solid 2px #FCFF09;
}

#navigation li:hover
{
	background-color: #BE7C08;
}

#navigation .final
{
	border-right: solid 2px #FCFF09;
}
#footer
{
	color: #7B5005;
}
#footer a
{
	color: #7B5005;
}

#content
{
	background-color: #FEFFB1;
	color: #7B5005;
}

{% elif user["theme"] == "limeGreen" %}

body
{
	background-image: url("/static/images/userpage/brightgreenbg.png");
}

#navigation
{
	background-color: #187E00;
	color: #FFFFFF;
}

#navigation li
{
	border-left: solid 2px #72FF51;
}

#navigation .final
{
	border-right: solid 2px #72FF51;
}
#footer
{
	color: #187E00;
}
#footer a
{
	color: #187E00;
}

#content
{
	background-color: #B8FFA7;
	color: #187E00;
}

{% elif user["theme"] == "forestGreen" %}

body
{
	background-image: url("/static/images/userpage/greenbg.png");
}

#navigation
{
	background-color: #0E3907;
	color: #FFFFFF;
}

#navigation li
{
	border-left: solid 2px #20A636;
}

#navigation .final
{
	border-right: solid 2px #20A636;
}
#footer
{
	color: #0E3907;
}
#footer a
{
	color: #0E3907;
}

#content
{
	background-color: #3FDA6D;
	color: #0E3907;
}

{% elif user["theme"] == "turquoise" %}

body
{
	background-image: url("/static/images/userpage/turquoisebg.png");
}

#navigation
{
	background-color: #016D52;
	color: #FFFFFF;
}

#navigation li
{
	border-left: solid 2px #00D89E;
}

#navigation li:hover
{
	background-color: #02E4AC;
}

#navigation .final
{
	border-right: solid 2px #00D89E;
}
#footer
{
	color: #016D52;
}
#footer a
{
	color: #016D52;
}

#content
{
	background-color: #2AFEC9;
	color: #016D52;
}

{% elif user["theme"] == "skyBlue" %}

body
{
	background-image: url("/static/images/userpage/cyanbg.png");
}

#navigation
{
	background-color: #01676D;
	color: #FFFFFF;
}

#navigation li
{
	border-left: solid 2px #2EF2FE;
}

#navigation li:hover
{
	background-color: #02CBD8;
}

#navigation .final
{
	border-right: solid 2px #2EF2FE;
}
#footer
{
	color: #01676D;
}
#footer a
{
	color: #01676D;
}

#content
{
	background-color: #8EF8FE;
	color: #01676D;
}

{% elif user["theme"] == "oceanBlue" %}

body
{
	background-image: url("/static/images/userpage/bluebg.png");
}

#navigation
{
	background-color: #000082;
	color: #FFFFFF;
}

#navigation li
{
	border-left: solid 2px #4040FF;
}

#navigation li:hover
{
	background-color: #4949FF;
}

#navigation .final
{
	border-right: solid 2px #4040FF;
}
#footer
{
	color: #000082;
}
#footer a
{
	color: #000082;
}

#content
{
	background-color: #8080FF;
	color: #000082;
}

{% elif user["theme"] == "purpleGrape" %}

body
{
	background-image: url("/static/images/userpage/brightpurplebg.png");
}

#navigation
{
	background-color: #661ED2;
	color: #FFFFFF;
}

#navigation li
{
	border-left: solid 2px #C9BAE6;
}

#navigation li:hover
{
	background-color: #B975FF;
}

#navigation .final
{
	border-right: solid 2px #C9BAE6;
}
#footer
{
	color: #661ED2;
}
#footer a
{
	color: #661ED2;
}

#content
{
	background-color: #D6AEFE;
	color: #661ED2;
}

{% elif user["theme"] == "royalPurple" %}

body
{
	background-image: url("/static/images/userpage/darkpurplebg.png");
}

#navigation
{
	background-color: #2D1644;
	color: #FFFFFF;
}

#navigation li
{
	border-left: solid 2px #400080;
}

#navigation li:hover
{
	background-color: #B975FF;
}

#navigation .final
{
	border-right: solid 2px #400080;
}
#footer
{
	color: #2D1644;
}
#footer a
{
	color: #2D1644;
}

#content
{
	background-color: #7C3DBD;
	color: #2D1644;
}

{% elif user["theme"] == "pitchBlack" %}

body
{
	background-image: url("/static/images/userpage/blackbg.png");
}

#navigation
{
	background-color: #000000;
	color: #FFFFFF;
}

#navigation li
{
	border-left: solid 2px #131313;
}

#navigation li:hover
{
	background-color: #474747;
}

#navigation .final
{
	border-right: solid 2px #131313;
}
#footer
{
	color: #FFFFFF;
}
#footer a
{
	color: #FFFFFF;
}

#content
{
	background-color: #474747;
	color: #000000;
}

{% elif user["theme"] == "rainbowrific" %}

body
{
	background-image: url("/static/images/userpage/rainbowbg.png");
}

#navigation
{
	background-color: #FD534F;
	color: #FFFFFF;
}

#navigation li
{
	border-left: solid 2px #FFC0C0;
}

#navigation li:hover
{
	background-color: #40FF40;
}

#navigation .final
{
	border-right: solid 2px #FFC0C0;
}
#footer
{
	color: #FFFFFF;
}
#footer a
{
	color: #FFFFFF;
}

#content
{
	background-color: #FFEA5F;
	color: #4040FF;
}

{% else %}
#content
{
	background-color: default;
	color: inherit;
}
{% endif %}

</style>
{% endblock %}	

{% macro profile() %}
  <section class="container">
  <div style="float:left;height:100%;margin-right:5px;">
    <a href='/{{ user['username'] }}'>
      <img src='/icons/{{ user["lowername"] }}.{{ user["icon"] }}' alt="{{ user["username"] }}'s Icon" class="userIcon">
    </a>
  </div>
  <div style="float:left;">
    <h3 style="margin-top:0px; display: inline;">{{ user['username'] }}</h3> 
    {% if user["gender"] == "m"   %} <img src='/static/images/male.png'>
    {% elif user["gender"] == "f" %} <img src='/static/images/female.png'> 
    {% endif %}
    {% if user["dob"] != None %}
      <span style="font-size:12px;">
	Birthday: {{ monthName(user["dob"].month) }} {{ user["dob"].day }}, {{ user["dob"].year }}
      </span>
    {% endif %}
    {{ user["codeProfile"] | safe }}
  </div>
  <div style="clear: both;"></div>
  </section>
{% endmacro %}

{% macro gallery() %}
  <section class="container">
    <h1>Gallery</h1>
    <p>Gallery Goes Here</p>
  </section>
{% endmacro %}

{% macro watches() %}
  <section class="container">
    <h1>Watches</h1>
    <p>Watches Go Here</p>
  </section>
{% endmacro %}

{% macro comments() %}
  <section class="container">
    <h1>Comments</h1>
    <p>Comments Go Here</p>
  </section>
{% endmacro %}

{% macro row(rowName) %}
  {% if user["layout"]["profile" ] == rowName %} {{ profile () }} {% endif %}
  {% if user["layout"]["gallery" ] == rowName %} {{ gallery () }} {% endif %}
  {% if user["layout"]["watches" ] == rowName %} {{ watches () }} {% endif %}
  {% if user["layout"]["comments"] == rowName %} {{ comments() }} {% endif %}
{% endmacro %}

{% block content %}
<div id="topArea">
  <div class="container tabButton"> + watch </div>
  <div class="container tabButton"> ~ message </div>
</div>
<div id="top" class="fullRow">
  {{ row("t") }}
</div>
<div id="middle" class="fullRow">
  <div id="rightCol">
    {{ row("r") }}
  </div>
  <div id="leftCol">
    {{ row("l") }}
  </div>
</div>
<div id="bottom" class="fullRow">
  {{ row("b") }}
</div>
{% endblock %}
