{% extends "layout.html" %}
{% block title %} Welcome to DR! {% endblock %}
{% block head %}
<style>
#content a
{
	display: block;
	margin: 25px;
}
#content h2
{
	font-size: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#content
{
	text-align: center;
}
</style>
{% endblock %}
{% block content %}
  <section class="container">
    <img src= "/static/images/drpartygreen.png" alt="GREENY" style="float: right; margin-right: 20px;">
    <img src= "/static/images/drpartybrown.png" alt="BROWNIE" style="float: left; margin-left: 20px;">
    <h2>Welcome to Drawrawr!</h2>
    <h3>Now that you're a member, you can get started using your Account!</h3>

    <a href="/{{ g.loggedInUser["username"] }}">-Check out your Drawrawr Userpage!-</a> 
    <a href="/users/settings">-Choose your Account settings-</a>
    <a href="/users/settings#profile">-Change your Profile Information-</a>
    <a href="/users/settings#layout">-Customize your Userpage Layout-</a>
    <a href="/art/do/submit">-Submit your first Artwork-</a>
    <a href="/journal/view">-Write your first Journal-</a>
    <a href="/">-Or just start Browsing and Meeting Artists!-</a>
  </section>
{% endblock %}
